*{
    margin: 0px;
    /* background-color: rgb(134, 166, 224); */
}

.maindiv{
    background-color: black;
    height: 600px;
    width: 1300px;
    margin:50px 0px 0px 100px;
    border-radius: 10px;
    box-shadow: 30px 35px 70px black;
}

.firstdiv{
    display: flex;
    height: 80px;
    background-color: black;
    border-radius: 10px;
}

.leftdiv{
    background-color: transparent;
    height: 600px;
    width: 840px;
    border-radius: 10px;
    /* align-items: center; */
}

.rightdiv{
    background-color: transparent;
    height: 600px;
    width: 460px;
    border-radius: 10px;
}


.profile{
    margin-left: 110px;
    border-radius: 50%;
    /* border: 1px solid grey; */
    margin-top: 170px;
    /* box-shadow: 5px 5px 15px white ; */
        border: 4px solid #00f365;


}

.profile:hover{
    border-right: 10%;
}

.name{
    font-family: cursive;
    color: white;
    margin-left: 200px;
    margin-top: 120px;

}

.domain{
    font-family: cursive;
    margin-left: 320px;
    margin-top: 20px;
        color: white;

}

.aboutme{
        font-family: cursive;
        margin-left: 100px;
        margin-top: 60px;
            color: white;


}

.logos{
    margin-top: 20px;
    font-size: 40px;
    transition: transform 0.9s ease,box-shadow 0.3s ease;
}

.logos:hover{
    transform: scale(1.3); 
    box-shadow: 1px 1px 10px 5px #00C853;
}

.socialicon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    /* background-color: antiquewhite; */
    color: #00C853;
}

.maindiv1{
    background-color: black;
    height: 700px;
    width: 1300px;
    margin:50px 0px 0px 100px;
    border-radius: 10px;
    box-shadow: 30px 35px 70px black;
    position: relative;
    display: inline-block;
}

.imgblurr{
    height:700px; 
    width:1300px;
    border-radius: 10px;
}

/* .img-text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%,10%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 6px black;
    background-color: aquamarine;
} */

.imgdiv1{
    position: absolute;
    top: 9%;
    height: 300px;
    width: 200px;
    margin-left: 80px;
    /* bottom: 20%; */
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid #00C853;
    
}

.imgdiv1 img{
    height: 170px;
    width: 100%;
    border-radius: 20%;
    
}

.imgdiv2 img{
    height: 170px;
    width: 100%;
    border-radius: 20%;
    
}

.imgdiv3 img{
    height: 170px;
    width: 100%;
    border-radius: 20%;
    
}

.imgdiv4 img{
    height: 170px;
    width: 100%;
    border-radius: 20%;
    
}

.imgdiv1:hover{
    box-shadow: 10px 9px 20px grey;
    transition: transform 1.5s ease,box-shadow 0.3s ease;
    transform: translate(0px,20px);

}

.imgdiv2{
    position: absolute;
    top: 48%;
    height: 300px;
    width: 200px;
    margin-left: 385px;
    margin-bottom: 100px;
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid #00C853;

}

.imgdiv2:hover{
    box-shadow: 10px 9px 20px grey;
    transition: transform 2s ease,box-shadow 0.3s ease;
    transform: translate(0px,-20px);

}


.imgdiv3{
    position: absolute;
    top: 9%;
    height: 300px;
    width: 200px;
    margin-left: 700px;
    margin-bottom: 100px;
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid #00C853;

}

.imgdiv3:hover{
    box-shadow: 10px 9px 20px grey;
    transition: transform 2s ease,box-shadow 0.3s ease;
    transform: translate(0px,20px);

}

.imgdiv4{
    position: absolute;
    top: 48%;
    height: 300px;
    width: 200px;
    margin-left: 998px;
    margin-bottom: 100px;
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid #00C853;

}

.imgdiv4:hover{
    box-shadow: 10px 9px 20px grey;
    transition: transform 2s ease,box-shadow 0.3s ease;
    transform: translate(0px,-20px);
    /* transform: scale(1.08,1.08); */


}

.projectname{
    color:#00C853;
    padding-left: 43px;
    padding-top: 10px;
    font-size: 30px;
}

.downbutton{
    margin:5px 0px 0px 12% ;
    font-size: 25px;
    border-radius: 15px;
    /* border: 2px solid white; */
    background-color:#00C853;
    color: whitesmoke;
    position: absolute;
    top: 74%;
    left: 7%;
    cursor: pointer;
    width: 120px;
    height: 33px;
    
}

.upbutton{
     margin:160px 0px 0px 24% ;
        font-size: 25px;
 border-radius: 15px;
    /* border: 2px solid white; */
    background-color:#00C853;
        color: whitesmoke;
         position: absolute;
         top: 34%;
         left: -5%;
         width: 120px;
         height: 33px;

}







.maindiv2{
    background-color: black;
    height: 700px;
    width: 1300px;
    border-radius: 10px;
    box-shadow: 30px 35px 70px black;
    position: relative;
    
}

.imgblurr3{
    height:700px; 
    width:1300px;
    border-radius: 10px;
}

/* .imgdiv {
        position: relative;

    top: 50%;
} */

.mineinfo {
  position: absolute;        
  top: 20%;                  
  left: 50%;                 
  transform: translate(-50%, -50%);
  
  color: white;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  /* text-shadow: 2px 2px 8px black;    */
  letter-spacing: 2px;
}

.aboutmeinfo{
      position: absolute;        
  top: 20%;                  
  left: 50%;                 
  transform: translate(-50%, -50%);
  
  color: white;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  /* text-shadow: 2px 2px 8px black;    */
  letter-spacing: 2px;
  padding-top: 30%;

}

.maindiv3{
     background-color: black;
    height: 700px;
    width: 1300px;
    border-radius: 10px;
    box-shadow: 30px 35px 70px black;
    position: relative;
}

.contactinfo{
      position: absolute;        
  top: -10%;                  
  left: 50%;                 
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  /* text-shadow: 2px 2px 8px black;    */
  letter-spacing: 2px;
  padding-top: 30%;
    text-decoration: underline;


}

.namediv p{
    color: rgb(184, 184, 184);
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 27%;
}


.email p{
    color: rgb(184, 184, 184);
    font-size: 20px;
    position: absolute;
    top: 43%;
    left: 27%;
}

.message p{
    color: rgb(184, 184, 184);
    font-size: 20px;
    position: absolute;
    top: 61%;
    left: 27%;
}

.submitbutton{
    position: absolute;
    top: 92%;
    left: 34%;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    background-color: #00C853;
    cursor: pointer;
}

.submitbutton:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

.submitbutton h5:hover{
    transform: scale(1.1);
    transition-duration: 1s;

}

.inputdata{
    transform: translate(53%,290%);
    font-size: 20px;
    width: 600px;
    height: 25px;
    border-radius: 20px;
    margin-top: 30px;
    border: 5px solid #00C853;
    /* color: #00C853; */
    /* text-decoration: underline; */
    /* box-shadow: 2px 2px 2px grey; */
}

input::placeholder{
    /* color: rgb(155, 155, 155); */
    opacity: 1;
    padding-left: 10px;
    color: grey;
    font-weight: 40px;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"],
input[type="email"]{
    padding: 12px ;

}

/* input[type="email"]:hover{
    background-color: black;
}

input[type="text"]:hover{
    background-color: grey;
} */

.message textarea{
    width: 49%;
    height: 150px;
    font-size: 25px;
    padding: 10px 15px;
    border: 5px solid #00C853;
    border-radius: 20px;
    /* text-align: left; */
    vertical-align: top;
    box-sizing: border-box;
    color: black;
    background: white;
    position: absolute;
    top: 65%;
    left: 26%;
}

.message textarea::placeholder{
    /* color: rgb(155, 155, 155); */
    opacity: 1;
    padding-left: 0px;
    color: grey;
    font-weight: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}












