*{
    margin: 0px;
    /* background-color: rgb(134, 166, 224); */
}

.maindiv{
    background-color: black;
    height: 600px;
    width: 1300px;
    margin:50px 0px 0px 100px;
    border-radius: 10px;
    box-shadow: 30px 35px 70px black;
}

.firstdiv{
    display: flex;
    height: 80px;
    background-color: black;
    border-radius: 10px;
}

.leftdiv{
    background-color: transparent;
    height: 600px;
    width: 840px;
    border-radius: 10px;
    /* align-items: center; */
}

.rightdiv{
    background-color: transparent;
    height: 600px;
    width: 460px;
    border-radius: 10px;
}

.profile{
    margin-left: 110px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-top: 170px;
    box-shadow: 5px 5px 15px white ;

}

.name{
    font-family: cursive;
    color: white;
    margin-left: 200px;
    margin-top: 120px;

}

.domain{
    font-family: cursive;
    margin-left: 320px;
    margin-top: 20px;
        color: white;

}

.aboutme{
        font-family: cursive;
        margin-left: 100px;
        margin-top: 60px;
            color: white;


}

.logos{
  height: 300px;
  width: 100px;
}

/* .logos:hover{
    box-shadow: 2px 20px 22px gray;
    zoom: 5px;

} */

.imgblurr{
    height:1000px; 
    width:1300px;
    border-radius: 10px;
    position: relative;
}

.maindiv1{
    background-color: black;
    height: 700px;
    width: 1300px;
    margin:50px 0px 0px 100px;
    border-radius: 10px;
    box-shadow: 30px 35px 70px black;
}

.project{
    position:absolute;
    top: 100px;
}